.container {
    width: 400px;
    margin-left: auto;
    margin-right: auto;
    border: 2px solid black;
    height: 700px;
    font-family: inter;
    background-color: #F2F1F1;
    padding: 20px;

}

.prof {
    margin-top: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* text-align: center; */
}



.box {
    /* background-color: red; */
    display: flex;
    justify-content: center;
    align-items: center;
    width: 322px;
    height: 50px;
    top: 169px;
    left: 26px;
    border-radius: 100px;
    border: 1px;
    margin-right: auto;
    margin-left: auto;
    border: 2px solid black;
margin-top: 100px;
}
.feat{
    margin-top: 10px;
    width: 300px;
    margin-right: auto;
    margin-left: auto;
}
.feat img{
    width: 40px;
    margin: 10px;
}
input{
    border: none;
    outline: none;
    background: transparent;
}
.products{
    padding: 10px;
}
.featpro{
    /* justify-content: space-between; */
    width: 390px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 25px;
}
.featpro img{
   margin: 8px;
}
footer{
   margin-top: 80px;
    position: relative;
    bottom: 0;
    left: 0;
    right: 0;
    border-top: 1px solid black;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;

}
footer a{
    margin: 20px;
    /* width: 20px; */
}
footer i{
   font-size: 25px;
    top: 757px;
    left: 29px;
    color: black;
    
}